.main {
  margin-top: 30px;
  width: 1000px;
  height: 640px;
  background-color: rgb(242, 238, 238);
  border-radius: 15px;
}

.mainStyle {
}
.styleInfo {
  margin-left: 30px;
  float: right;
  width: 690px;
  height: 640px;
}

.firstImage {
  position: absolute;
  margin-left: 5px;
  margin-top: -30px;
}
.firstImageForm {
  width: 310px;
  height: 640px;
}
.fullCirc {
  font-size: 15px;
  padding: 15px;
  margin-top: 30px;
  position: relative;
}

.BsCircle {
  position: relative;
  font-size: 50px;
  color: rgb(46, 46, 215);
  border: 3px bisque solid;
  border-radius: 50px;
}
.BsCircle:hover {
  color: rgb(82, 45, 248);
}
.blockCirc {
  display: inline-flex;
  margin: 15px;
}
.textCirc {
  font-size: 20px;
  margin: 15px;
}
.textIN {
  color: beige;
  margin-top: 10px;
  margin-left: 20px;
  position: absolute;
}
.plan {
  float: center;
  width: 150px;
  height: 120px;
  border-radius: 15px;
  border: 1px black solid;
}
.planS {
  text-align: center;
  margin: 30px;
  width: 150px;
  height: 120px;
  border-radius: 15px;
  border: 1px black;
  background-color: beige;
}
.plansLine {
  text-align: center;
  margin-top: 50px;
  display: inline-flex;
}
.switchDiv {
  margin: 10px;
  display: inline-flex;
}
.switchDivText {
  margin-bottom: 15px;
  margin: 20px;
}
.plansLines {
  text-align: center;
  margin-top: 50px;
  display: inline;
}
.planAddons {
  text-align: center;
  margin: 30px;
  width: 600px;
  height: 120px;
  border-radius: 15px;
  border: 1px black;
  background-color: beige;
}
